<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{{draft.title}}</title>

    {% include 'common/commoncss.html' %}
    <link href='http://bcs.duapp.com/hamilton-000000/static/css/syntaxhighlighter/shCore.css' rel='stylesheet' type='text/css' />
    <link href='http://bcs.duapp.com/hamilton-000000/static/css/syntaxhighlighter/shThemeDefault.css' rel='stylesheet' type='text/css' />
  </head>
  <body>
    <div id="main-body">
      {% include 'common/banner.html' %}

      <div id="main-inner" class="container">

        <div class="edit-article">
          <a class="btn btn-large btn-primary" href="/admin/delete?draftId={{draft.id}}">删除</a>
        </div>
        <div class="edit-article">
          <a class="btn btn-large btn-primary" href="/admin/edit?articleId={{draft.article_id}}">修改</a>
        </div>
        <div class="edit-article">
          <a class="btn btn-large btn-primary" href="/admin/publish?articleId={{draft.article_id}}">发布</a>
        </div>

        <div class="span9 shadow white-container">
          <h3><a href="draft?draftId={{draft.id}}">{{draft.title}}</a></h3>
          {% if tag_list %}
          <div class="clearfix">
            <p class="tags-span">标签：</p>
            {% for tag in tag_list %}
            <a class="tags-span" href="/tags?tagid={{tag.id}}">{{tag.name}}</a>
            {% endfor %}
          </div>
          {% endif %}
          <div>{{draft.content|safe}}</div>

       </div>
    </div>
          
      {% include 'common/footer.html' %}
    </div>

    <script src='http://bcs.duapp.com/hamilton-000000/static/js/syntaxhighlighter/shCore.js'></script>
    <script src='http://bcs.duapp.com/hamilton-000000/static/js/syntaxhighlighter/shAutoloader.js'></script>
    <script src='http://bcs.duapp.com/hamilton-000000/static/js/syntaxhighlighter/shBrushBash.js'></script>
    <script src='http://bcs.duapp.com/hamilton-000000/static/js/syntaxhighlighter/shBrushCss.js'></script>
    <script src='http://bcs.duapp.com/hamilton-000000/static/js/syntaxhighlighter/shBrushPython.js'></script>
    <script src='http://bcs.duapp.com/hamilton-000000/static/js/syntaxhighlighter/shBrushPlain.js'></script>
    <script src='http://bcs.duapp.com/hamilton-000000/static/js/syntaxhighlighter/shBrushXml.js'></script>
    <script src='http://bcs.duapp.com/hamilton-000000/static/js/syntaxhighlighter/shBrushPhp.js'></script>
    <script src='http://bcs.duapp.com/hamilton-000000/static/js/syntaxhighlighter/shBrushCpp.js'></script>
    <script src='http://bcs.duapp.com/hamilton-000000/static/js/syntaxhighlighter/shBrushJScript.js'></script>
    <script src='http://bcs.duapp.com/hamilton-000000/static/js/syntaxhighlighter/shBrushSql.js'></script>
    <script src='http://bcs.duapp.com/hamilton-000000/static/js/syntaxhighlighter/shBrushJava.js'></script>

    <script>
      function update_syntax() {
        SyntaxHighlighter.config.clipboardSwf = 'js/clipboard.swf'; 
        SyntaxHighlighter.defaults['quick-code'] = false;
        SyntaxHighlighter.defaults['toolbar'] = false;
        SyntaxHighlighter.all();
      }

      $(function (){
        update_syntax();
      });

    </script>
  </body>
</html>
