<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Wylazy的博客</title>
    {% include 'common/commoncss.html' %}
  </head>
  <body>
    <div id="main-body">
      {% include 'common/banner.html' %}

      <div id="main-inner" class="container">
        <div class="span9">
        {% for draft in draft_list %}
          <article class="shadow item-abs">
            <h3><a href="draft?draftId={{draft.id}}">{{draft.title}}</a></h3>
            <div>{{ draft_dic[draft.id]|safe}}</div>
            <a href="draft?draftId={{draft.id}}">Read more...</a>
          </article>
        {% endfor %}

        </div>

      </div>

      {% include 'common/footer.html' %}
    </div>
  </body>
</html>
