<div>
  <span id="login"></span>
</div>

<script type="text/javascript" id="bd_soc_login_boot"></script>
<script type="text/javascript"> 
  (function(){    
   var t = new Date().getTime(),
   script = document.getElementById("bd_soc_login_boot"),
   redirect_uri = encodeURIComponent("http://hamilton.duapp.com/oauth/callback"),
   domid = "login",
   src = "http://openapi.baidu.com/social/oauth/2.0/connect/login?redirect_uri=" + redirect_uri + "&domid=" + domid + "&client_type=web&response_type=code&media_types=sinaweibo%2Cqqdenglu%2Cbaidu%2Cqqweibo%2Ckaixin%2Crenren&size=-1&button_type=4&client_id=R8xOPbogz2GNz08eET9ae2po&view=embedded&t=" + t; 
   console.log(script);
   console.log(src);
   script.src = src;
   })();
</script>
