<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{{article.title}}</title>

    {% include 'common/commoncss.html' %}
    <link href='http://bcs.duapp.com/hamilton-000000/static/css/syntaxhighlighter/shCore.css' rel='stylesheet' type='text/css' />
    <link href='http://bcs.duapp.com/hamilton-000000/static/css/syntaxhighlighter/shThemeDefault.css' rel='stylesheet' type='text/css' />
  </head>
  <body>
    <div id="main-body">
      {% include 'common/banner.html' %}

      <div id="main-inner" class="container">

      {% if session.get('userid') %}
        <div class="edit-article">
              <a class="btn btn-large btn-primary" href="/admin/edit?articleId={{article.id}}">修改</a>
        </div>
      {% endif %}

        <div class="span9 shadow white-container">
          <h3><a href="detail?articleId={{article.id}}">{{article.title}}</a></h3>
          {% if tag_list %}
          <div class="clearfix">
            <p class="tags-span">标签：</p>
            {% for tag in tag_list %}
            <a class="tags-span" href="/tags?tagid={{tag.id}}">{{tag.name}}</a>
            {% endfor %}
          </div>
          {% endif %}
          <div>{{article.content|safe}}</div>

          <br />
          <div class="clearfix comment-item">
            <textarea id="comment-input" rows="3" placeholder="添加评论"></textarea>
            <button class="btn comment-btn">回复</button>
          </div>

          <div class="comment-container">
          {% for comment in comments %}
            <div class="comment-item clearfix">
              {{comment.user_name}}：{{comment.content}}
              <button class="btn comment-btn">回复</button>
            </div>
          {% endfor %}
         </div>
       </div>
    </div>
          
      {% include 'common/footer.html' %}
    </div>

    <script src='http://bcs.duapp.com/hamilton-000000/static/js/syntaxhighlighter/shCore.js'></script>
    <script src='http://bcs.duapp.com/hamilton-000000/static/js/syntaxhighlighter/shAutoloader.js'></script>
    <script src='http://bcs.duapp.com/hamilton-000000/static/js/syntaxhighlighter/shBrushBash.js'></script>
    <script src='http://bcs.duapp.com/hamilton-000000/static/js/syntaxhighlighter/shBrushCss.js'></script>
    <script src='http://bcs.duapp.com/hamilton-000000/static/js/syntaxhighlighter/shBrushPython.js'></script>
    <script src='http://bcs.duapp.com/hamilton-000000/static/js/syntaxhighlighter/shBrushPlain.js'></script>
    <script src='http://bcs.duapp.com/hamilton-000000/static/js/syntaxhighlighter/shBrushXml.js'></script>
    <script src='http://bcs.duapp.com/hamilton-000000/static/js/syntaxhighlighter/shBrushPhp.js'></script>
    <script src='http://bcs.duapp.com/hamilton-000000/static/js/syntaxhighlighter/shBrushCpp.js'></script>
    <script src='http://bcs.duapp.com/hamilton-000000/static/js/syntaxhighlighter/shBrushJScript.js'></script>
    <script src='http://bcs.duapp.com/hamilton-000000/static/js/syntaxhighlighter/shBrushSql.js'></script>
    <script src='http://bcs.duapp.com/hamilton-000000/static/js/syntaxhighlighter/shBrushJava.js'></script>

    <script>
      function update_syntax() {
        SyntaxHighlighter.config.clipboardSwf = 'js/clipboard.swf'; 
        SyntaxHighlighter.defaults['quick-code'] = false;
        SyntaxHighlighter.defaults['toolbar'] = false;
        SyntaxHighlighter.all();
      }

      function getUrlParm( name ) {
        var regexS = "[\\?&]"+name+"=([^&#]*)" ;
        var regex = new RegExp(regexS) ;
        var tmpURL = window.location.href ;
        var results = regex.exec(tmpURL) ;
        if( results == null ) {
          return "" ;
        } else {
          return results[1] ;
        }
      }

      function add_comment() {
        var data = new Object();
        data['articleId'] = getUrlParm('articleId');
        data['content'] = $('#comment-input').val();

        $.post(
          '/comment',
          data,
          function (data) {
            if (data.state) {
              window.location.reload();
            } else {
              alert('回复失败：' + data.message);
            }
          },
          'json').fail(function (data) {
            alert('回复失败');
          });
      }

      $(function (){
        update_syntax();
        $('.comment-btn').click(add_comment);
      });

      
    </script>
  </body>
</html>
